@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sky-clr: #f18027;
  --dark-grey-clr: #5c606d;
  --metalic-gray-clr: #303347;
  --light-gray-clr: #cfd2d8;
  --dark-blue-clr: #ee5f11;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.contact::before,
.contact::after {
  z-index: -1 !important;
}

.navbar.sticky-top {
  box-shadow: none !important;
}

.text-shadow {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1)
}

.service-content h2 {
  font-size: 16px !important;
  color: var(--dark-blue-clr) !important;
}

.service-content h3 {
  font-size: 22px !important;
  color: black !important;
}